.section-table {
  height: 340px;
  background-color: #ffffff;
  position: relative;
}

.bg-color {
  background-color: rgb(22, 82, 240);
  width: 100%;
  height: 175px;
}

.section-coin {
  width: 1142px;
  border-radius: 4px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  top: -175px;
  background-color: #ffffff;
}